@charset "UTF-8";
/**
 * Notion 个人页面自定义脚本
 * @authors rusyue (rusyue@live.com)
 * @date    2022-03-10 23:11:45
 * @version 1.0
 */


h1 {
    color: crimson;
}

#custom-sidebar {
    width: 300px;
    height: 300px;
    position: fixed;
    bottom: 0;
    left: 0;
    border: 1px solid red;
}

/* 隐藏Simple网站图标 */
footer[class*=styles_footer] div[dir="ltr"] {
    display: none;
}